* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

.gallery-posts {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 48% 48%;
}

.images1 {
    background-image: url(image/pexels-stephen-leonardi-587681991-20401560.jpg);
}

.images2 {
    background-image: url(image/pexels-stephen-leonardi-587681991-20401560.jpg);
}

.images3 {
    background-image: url(image/pexels-stephen-leonardi-587681991-20401560.jpg);
}

.images4 {
    background-image: url(image/pexels-stephen-leonardi-587681991-20401560.jpg);
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
}