* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

.about-section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 35rem);
    grid-template-rows: repeat(2, 34rem);
    place-content: center;
    padding: 2rem;

    position: relative;
    /* overflow: hidden; */
}


.about-section::before,
.about-section::after {
    border-radius: 50%;
    content: "";
    position: absolute;
}


.about-section::before {
    top: -10rem;
    right: -10rem;
    height: 20rem;
    width: 20rem;
    background-color: #7233ff;
}


.about-section::after {
    top: -25rem;
    left: -30rem;
    height: 100rem;
    width: 100rem;
    z-index: -1;


    background-image: linear-gradient(120deg, hsla(162 81% 42% / 0.9), #7233ff);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 2rem;
    border: 2px solid #7233ff;
}

figure:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

figure:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

figure:last-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: center;
}

/* figure:last-of-type img {
    height: auto;
    width: auto;
} */

.content {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    place-self: center;

    display: grid;
    gap: 2rem;
}

.introduction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: #7233ff;
    color: white;
    border-radius: 2rem;
    justify-self: start;
    padding: 1rem 1.5rem;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.para {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
}

.link {

    font-size: 2rem;
    text-decoration: none;
    border: 2px solid #7233ff;
    color: #7233ff;
    padding: 1rem 2rem;
    border-radius: 2rem;

    justify-self: start;
}