* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

.navigation {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 3rem;
}

.link {
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    padding: 2rem 1rem;
    transition: all 0.50s ease-in;
}

.link:hover {
    background-color: black;
    color: blue;
}

