* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

.main-footer{
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: chocolate;
}

.section {
    background-color: cornflowerblue;
}

.footer {
    background-color: crimson;
}

.header,
.section,
.footer {
    padding: 1rem;
    color: white;
    font-size: 3rem;
}